<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<connectionStrings>
			<add name="MySqlOnUbbyConnectionString" connectionString="server=10.231.6.86;user id=phpmyadmin;password=php123;database=olmsted_SAHD_MDB" providerName="MySql.Data.MySqlClient" />
		</connectionStrings>
	</appSettings>
</configuration>
