<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		
	</appSettings>
	<connectionStrings>
		<add name="MySqlOnUbbyConnectionString" connectionString="server=10.231.6.86;user id=phpmyadmin;password=php123;database=olmsted_SAHD_MDB" providerName="MySql.Data.MySqlClient" />		
		<add name="MySqlOnUbbyHomeConnectionString" connectionString="Server=192.168.1.173;Port=3306;User ID=webapp;Password=webapp;Database=olmsted_SAHD_MDB" providerName="MySql.Data.MySqlClient" />		
	</connectionStrings>
</configuration>
